############################
#  CMake Specific Ignores  #
############################
CMakeCache.txt
CMakeFiles/
build/

############################
#  Build Specific Ignores  #
############################
Makefile

############################
#  Clang Specific Ignores  #
############################
.cache/

#########################
#  OS Specific Ignores  #
#########################
.DS_Store